.header-wrapper {
  //max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  //max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  //@extend %clearfix;

  @include media-query($on-laptop) {
    //max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    //max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.intro {
  text-align: center;
  border-bottom: $brand-color dotted 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post-block {
  display: flex;
  flex-flow: column;

  > h2 {
    text-align: center;
  }
}

.post-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 0px;
  margin-top: 10px;
}

.post-item {
  display: flex;
  margin-bottom: 15px;
  padding: 0px 10px;

  @include media-query($on-palm) {
    flex-direction: column-reverse;
  }
}

.post-image {
  margin-right: 10px;
  border-radius: 5px;
  min-width: 200px;
  height: 200px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-card {
  padding: 0 0 1rem 2rem;
  width: 40%;
  min-width: 250px;
  border: 3px dotted $brand-color-2;
  border-radius: 10% 25%;
  margin-bottom: 20px;

  &:hover {
    border: 3px solid $brand-color-2;
    color: $brand-color;
    text-decoration: none;
  }

  &:active {
    transform: translateY(4px);
  }
 
  &:visited {
    color: $brand-color;
  }

  > p {
    color: $text-color;
  }

  .title {
    @include relative-font-size(1.5);
  }

  @include media-query($on-palm) {
    padding: 1rem 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.post_img {
  margin: 0 auto;
  display: block;
}

.post_img_lg {  
  width: 600px;
}

.post_img_md {  
  max-width: 350px;
}

.post_img_sm {  
  max-width: 250px;
}

.rss-subscribe {
  text-align: right;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.e-content {

  h2 {
    color: $brand-color;
  }

  img + em { 
    display: block;
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
  } 

}

.content-header {
  display: flex;
  flex-direction: row;
}

.badge {
  border-radius: 4px;
  background-color: lighten($grey-color, 18%);
  color: white;
  padding: 0px 4px;
  font-weight: 600;
}

.tag-list {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;

  > span {
    margin-left: 5px;
  }
}